.preview {
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 33px;
  background: #0db5df;
  color: white;
  border-radius: 6px 6px 0 0;
  padding: 0 20px;
}

.preview::after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 33px;
  height: 100vh;
  background: rgba(13, 181, 223, 0.1);
}
